dialog#new-entry-dialog{
    --animation-timing: 200ms;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: white;

    box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.5);

    width: 90rem;
    height: 55rem;

    /* transform-origin: center; */


    animation: increaseScale var(--animation-timing) ease-in forwards;
}

dialog#new-entry-dialog.closing{
    animation: decreaseScale var(--animation-timing) ease-in forwards;
}



dialog#new-entry-dialog::backdrop{
    background-color: rgba(128, 128, 128, 0.4);
    backdrop-filter: blur(.5rem);
}

@keyframes increaseScale {
    from{
        transform: translate(-50%, -50%) scale(0);
    }
    to{
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes decreaseScale {
    from{
        transform: translate(-50%, -50%) scale(1);
    }
    to{
        transform: translate(-50%, -50%) scale(0);
    }
}