:root{
    font-size: 62.5%;

    --dark-grey: rgb(59, 59, 59);
    --light-grey: rgb(146, 146, 146);
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    color: inherit;
    font-size: inherit;
    font-family: inherit;

    box-sizing: border-box;
}


html,
body{
    font-family: Andale Mono, monospace;

    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(184, 204, 184);
    color: black;

    width: 100dvw;
    height: 100dvh;
}


[data-page="selected"],
[data-page="selected"]{
    background-color: rgba(32, 147, 255, 0.3) !important;
}