div#main-editor-container{
    width: 100%;
    height: 100%;

    
    
}


div#main-editor-container form{
    width: 100%;
    height: 100%;
}

div#main-editor-container[data-state="task"] div#dialog-task-state{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem
                        1fr
                        8rem
                        8rem;
    grid-template-areas: "subject subject"
                         "description description"
                         "due-date ."
                         "priority submit";


    /* padding: 1rem; */
}   

div#main-editor-container[data-state="task"] div.task-dialog-input-container{


    width: 100%;
    height: 100%;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-start;


}

div#task-subject-container{
    grid-area: subject;
}

div#task-subject-container input{
    width: 100%;
    height: 100%;

    /* border: .2rem solid var(--light-grey); */
    /* border-radius: .5rem; */

    padding: 0 2rem;


}

div#task-subject-container label{
    position: absolute;

    top: 50%;
    left: 2rem;

    transform: translate(0%, -50%);

    background-color: white;

    color: var(--light-grey);
}



div#task-body-text-container{
    grid-area: description;
}


div#task-due-date-container{
    grid-area: due-date;
}



div#task-priority-container{
    grid-area: priority;
}


div#dialog-complete-button-container{
    grid-area: submit;
}